In [ ]:
from google.colab import files

uploaded = files.upload()

Saving Broadband_Availability.csv to Broadband_Availability.csv

In [ ]:
import io
import pandas as pd
import plotly.express as px
df = pd.read_csv(io.BytesIO(uploaded['Broadband_Availability.csv']))
df

      GNIS ID Municipality Name  ... % Hse Units Wireless  # Satellite Providers
0      978655             Adams  ...                   94                      4
1      942159             Adams  ...                   96                      4
2      978656           Addison  ...                   95                      4
3      942177           Addison  ...                   96                      4
4      978657             Afton  ...                   96                      4
...       ...               ...  ...                  ...                    ...
1630   979661              York  ...                   95                      4
1631   979662         Yorkshire  ...                   95                      4
1632   979663          Yorktown  ...                   97                      4
1633   971840         Yorkville  ...                   94                      4
1634   971860        Youngstown  ...                   96                      4

[1635 rows x 24 columns]

In [ ]:
df['% Hse Units Fiber'] = df['% Hse Units Fiber'].astype(int)
print (df)
print (df.dtypes)

      GNIS ID Municipality Name  ... % Hse Units Wireless  # Satellite Providers
0      978655             Adams  ...                   94                      4
1      942159             Adams  ...                   96                      4
2      978656           Addison  ...                   95                      4
3      942177           Addison  ...                   96                      4
4      978657             Afton  ...                   96                      4
...       ...               ...  ...                  ...                    ...
1630   979661              York  ...                   95                      4
1631   979662         Yorkshire  ...                   95                      4
1632   979663          Yorktown  ...                   97                      4
1633   971840         Yorkville  ...                   94                      4
1634   971860        Youngstown  ...                   96                      4

[1635 rows x 24 columns]
GNIS ID                      int64
Municipality Name           object
Municipality Type           object
2010 Muni Population         int64
2010 Muni Housing Units      int64
Muni Area (sq mi)          float64
County                      object
REDC Region                 object
# Cable Providers            int64
# Hse Units Cable            int64
% Hse Units Cable            int64
# of DSL Providers           int64
# Hse Units DSL              int64
% Hse Units DSL              int64
# Fiber Providers            int64
# Hse Units Fiber            int64
% Hse Units Fiber            int64
# Wireline Providers         int64
# Hse Units Wireline         int64
% Hse Units Wireline         int64
# Wireless Providers         int64
# Hse Units Wireless         int64
% Hse Units Wireless         int64
# Satellite Providers        int64
dtype: object

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
df['GNIS ID'].value_counts()

978942    1
974105    1
979378    1
965893    1
978943    1
         ..
979377    1
979379    1
979381    1
979383    1
978944    1
Name: GNIS ID, Length: 1635, dtype: int64

In [ ]:
df ['# Hse Units Wireline']. value_counts ()

1000      53
1200      47
1100      46
1400      37
1800      35
          ..
7100       1
44900      1
132000     1
17300      1
94200      1
Name: # Hse Units Wireline, Length: 318, dtype: int64

In [ ]:
df ['% Hse Units Wireline']. value_counts ()

96    342
97    274
95    213
94    150
93    108
     ...
52      1
33      1
34      1
36      1
32      1
Name: % Hse Units Wireline, Length: 73, dtype: int64

In [ ]:
df ['# Fiber Providers']. value_counts ()

0     667
1     422
2     228
3     135
4     104
5      45
6      18
8       5
7       4
9       3
31      1
12      1
11      1
10      1
Name: # Fiber Providers, dtype: int64

In [ ]:
df ['# Hse Units Fiber']. value_counts ()

0         1234
1200        11
1100        10
1500         8
2100         7
          ...
580          1
341000       1
9200         1
8800         1
10200        1
Name: # Hse Units Fiber, Length: 200, dtype: int64

In [ ]:
df ['% Hse Units Fiber']. value_counts ()

0     1240
96      54
95      40
94      26
92      20
      ...
67       1
37       1
64       1
41       1
45       1
Name: % Hse Units Fiber, Length: 88, dtype: int64

In [ ]:
df ['# of DSL Providers']. value_counts ()

1     971
2     504
3      71
0      59
4      12
5       5
6       4
7       3
9       2
8       2
38      1
12      1
Name: # of DSL Providers, dtype: int64

In [ ]:
df ['# Hse Units DSL']. value_counts ()

0         82
1000      48
1100      44
1200      35
1500      34
          ..
517000     1
451000     1
25500      1
17300      1
31100      1
Name: # Hse Units DSL, Length: 315, dtype: int64

In [ ]:
df ['% Hse Units DSL']. value_counts ()

96    201
95    127
97    116
94    104
93     97
     ...
27      1
12      1
26      1
14      1
50      1
Name: % Hse Units DSL, Length: 94, dtype: int64

In [ ]:
df ['County']. value_counts ()

Nassau                                        70
Cattaraugus                                   50
Westchester                                   49
Oneida                                        49
Steuben                                       48
                                              ..
CAYU, CORT, MADI, ONON, OSWE                   1
BRON, KING, NEW, QUEE, RICH                    1
NASS, SUFF                                     1
DUTC, ORAN, PUTN, ROCK, SULL, ULST, WEST       1
ALLE, CATT, CHAU, ERIE, NIAG                   1
Name: County, Length: 72, dtype: int64

In [ ]:
df ['Municipality Type']. value_counts ()

Town                           932
Village                        555
County                          62
City                            61
Economic Development Region     10
Tribal Community                 9
Borough                          5
Statewide                        1
Name: Municipality Type, dtype: int64

In [ ]:
city = df[df['Municipality Type'] == 'City']
city

      GNIS ID Municipality Name  ... % Hse Units Wireless  # Satellite Providers
9      978659            Albany  ...                   97                      4
39     978677         Amsterdam  ...                   97                      4
69     978695            Auburn  ...                   97                      4
96     978713           Batavia  ...                   97                      4
102    978716            Beacon  ...                   96                      4
...       ...               ...  ...                  ...                    ...
1489   979575             Utica  ...                   97                      4
1539   979604         Watertown  ...                   96                      4
1542   979606        Watervliet  ...                   96                      4
1592   979637      White Plains  ...                   97                      4
1629   979660           Yonkers  ...                   97                      4

[61 rows x 24 columns]

In [ ]:
borough = df[df['Municipality Type'] == 'Borough']
borough

      GNIS ID  ... # Satellite Providers
162    978756  ...                     4
166    978759  ...                     4
857    979190  ...                     4
1211   979404  ...                     4
1407   979522  ...                     4

[5 rows x 24 columns]

In [ ]:
borough[['Municipality Name', '# of DSL Providers']]

          Municipality Name  # of DSL Providers
162           Bronx borough                   2
166        Brooklyn borough                   2
857       Manhattan borough                   2
1211         Queens borough                   2
1407  Staten Island borough                   2

In [ ]:
borough[['Municipality Name', '% Hse Units DSL']]

          Municipality Name  % Hse Units DSL
162           Bronx borough               97
166        Brooklyn borough               97
857       Manhattan borough               97
1211         Queens borough               97
1407  Staten Island borough               97

In [ ]:
borough[['Municipality Name', '# Fiber Providers']]

          Municipality Name  # Fiber Providers
162           Bronx borough                  4
166        Brooklyn borough                  6
857       Manhattan borough                  8
1211         Queens borough                  5
1407  Staten Island borough                  3

In [ ]:
borough[['Municipality Name', '% Hse Units Fiber']]

          Municipality Name  % Hse Units Fiber
162           Bronx borough                 63
166        Brooklyn borough                 50
857       Manhattan borough                 58
1211         Queens borough                 69
1407  Staten Island borough                 96

In [ ]:
borough[['Municipality Name', '# Cable Providers']]

          Municipality Name  # Cable Providers
162           Bronx borough                  3
166        Brooklyn borough                  3
857       Manhattan borough                  4
1211         Queens borough                  3
1407  Staten Island borough                  2

In [ ]:
borough[['Municipality Name', '% Hse Units Cable']]

          Municipality Name  % Hse Units Cable
162           Bronx borough                 97
166        Brooklyn borough                 97
857       Manhattan borough                 97
1211         Queens borough                 97
1407  Staten Island borough                 97

In [ ]:
null_columns = df.columns[df.isnull().any()]
print(df[df.isnull().any(axis=1)][null_columns].head())

     County REDC Region
1006    NaN         NaN

In [ ]:
df[null_columns].isnull().sum()

County         1
REDC Region    1
dtype: int64

In [ ]:
def newfiberproviders(row):

  if row['% Hse Units Fiber'] == 0 : return 'none'
  elif row['% Hse Units Fiber'] < 50 : return ' really low'
  elif row['% Hse Units Fiber'] <=58 : return 'low'
  elif row['% Hse Units Fiber'] < 63 : return 'mid-low'
  elif row['% Hse Units Fiber'] <= 69 : return 'medium'
  elif row['% Hse Units Fiber'] >=96 : return 'high'

In [ ]:
borough['% Hse Units Fiber'] = borough.apply( lambda row : newfiberproviders(row), axis = 1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
borough

      GNIS ID  ... # Satellite Providers
162    978756  ...                     4
166    978759  ...                     4
857    979190  ...                     4
1211   979404  ...                     4
1407   979522  ...                     4

[5 rows x 24 columns]

In [ ]:
# Pie chart, where the slices will be ordered and plotted counter-clockwise:
pie_home_adoption = px.pie(borough, names = '% Hse Units Fiber' , title='% Hse Units Fiber in NYC')
pie_home_adoption.show()

In [ ]:
pivot_mobile = borough.groupby('Municipality Name') ['% Hse Units Fiber'].value_counts()
pivot_mobile

Municipality Name      % Hse Units Fiber
Bronx borough          medium               1
Brooklyn borough       low                  1
Manhattan borough      low                  1
Queens borough         medium               1
Staten Island borough  high                 1
Name: % Hse Units Fiber, dtype: int64